@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap");

/* Body */

html,
body {
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.3rem;
  line-height: 1.9;
}

.home {
  background-color: white;
}

figcaption {
  position: absolute;
  bottom: 2rem;
}

/* Primary Btn override*/

.btn-primary.custom-btn,
.btn-primary.custom-btn:visited {
  background-color: #d90429;
  border-color: #d90429;
  color: white;
}

.btn-primary.custom-btn:hover,
.btn-primary.custom-btn:active,
.btn-primary.custom-btn:focus {
  background-color: #2b2d42;
  border-color: #2b2d42;
  color: white;
}

/* Navbar */

.navbar-style {
  background-color: #2b2d42;
  color: white;
}

.navbar-style .nav-link,
.navbar-style .logo {
  color: white;
}

.logo {
  font-weight: bold;
}

/* Carousel */

.w-100 {
  width: 100% !important;
  max-height: 100vh;
}

.image-text h3 {
  font-size: 4rem;
  font-weight: bold;
}

.image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 100%;
}

.content {
  font-family: "Montserrat", sans-serif;
}

.information-section {
  background-color: #2b2d42;
}

.info-panel {
  background-color: #edf2f4;
  border-radius: 1rem;
  color: black;
}

* {
  box-sizing: border-box;
}

.section-1 {
  background-color: #2b2d42;
}

.inventory-section {
  min-height: 60vh;
  background-color: #edf2f4;
}

.inventory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventory-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  overflow: auto;
  align-items: center;
}
.card-container {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  overflow: auto;
}
/* Footer */
.footer-container {
  background-color: #2b2d42;
  color: white;
}

/* ALT PAGES */
.secondary-section {
  background-color: #8d99ae;
}
.header-section {
  background-color: #edf2f4;
}
.full-screen {
  min-height: 80vh;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (max-width: 1400px) {
  .inventory-panel {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .inventory-panel {
    grid-template-columns: 1fr;
  }

  .image-text h3 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  #bootstrap-overide {
    padding: 0;
  }
  .d-xl-flex.hide-icon {
    display: none;
  }
  .info-panel h2 {
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .info-text {
    font-size: 1rem;
  }
}
